<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Attendance Details</title>
</head>
<body>
    <div class="container">
        <div>
            <h1>The total Attendance percentage is <%= totalPercentage %> </h1>
        </div>
        <div>
            <h5>'<%= standard %>' standard and '<%= section %>' Section  </h5>
            <table border="4">
                <tr>
                    <th>Date</th>
                    <th>Absentees</th>
                </tr>
                <tr>
                    <% for(let k=0;k<absentees.length;k++){  %>
                    <td><%= Object.values(absentees)[k].date %></td>
                    <td><%= Object.values(absentees)[k].absence %></td>
                </tr>
                <% } %> 
            </table>
        </div>
        <br>
        <br>
        <div>
            <a href="http://localhost:5000/" class="btn btn-success">Home Page</a>
        </div>
    </div>
    
</body>
</html>
