<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <title>Employee Details</title>
</head>
<body>
    <div class="container">
        <div>
            <h1 class="mb-4">Student Details</h1>
        </div>
     
        <div>
            <div>
                <div>
                    <h4>Displaying Students of <%= skipStudents+1 %> - <%= skipStudents+limitStudents %> of <%= noOfstudents %>  </h4>
                </div>
            </div>
            <table border="4">
                <tr>
                    <th>Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr>
                    <% for(let k=0;k<items.length;k++){  %> 
                    <td><%= Object.values(items)[k].name %></td>
                   
                    <td><a href="/updateStudent/<%= Object.values(items)[k]._id %>" class="btn btn-primary">Edit</a></td>
                    <td><a href="/delete/<%= Object.values(items)[k]._id %> " class="btn btn-danger">Delete</a></td>
                   
                </tr>
                <% } %>
            </table>
        </div>
            <% for(let i=1; i<noOfpages;i++){ %>
                <a href="/gettingStudent/?limit=10&skip=<%= i*10 %>  "><%= i %> </a>
                <% } %> 
        <div>
            <p>if you want to add more student <a href="/addStudent">click here?</a></p>
        </div>
    </div>
    
</body>
</html>
